html{
    min-height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

body{
    height:max-content;
    background-color:#264704;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.big_box{
    width:300px;
    height:560px;
    background-color:white;
    margin:0px;
    padding:10px;
    border:10px #17a050 solid;
    border-radius:30px;
    font-size:38px;
}

.input_box{
    width:300px;
    height:220px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.name_box,.password_box{
    width:300px;
    height:110px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.input_name_box,.input_password_box{
    display:flex;
    flex-direction:column;
    width:258px;
    height:38px;
    border:1px black solid;
    margin:5px;
    padding:0px 20px;
    border-radius:20px;
}

.statement{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    align-items:flex-start;
    padding:0px;
    margin:10px 0px;
    width:300px;
    height:40px;
}

input{
    border:none;
    outline:none;
    box-shadow:none;
    padding:0px;
    width:258px;
    height:38px;
    font-size:38px;
}

.button_box{
    width:300px;
    height:140px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-justify:center;
}

#get_card_button,#get_talking_button{
    height:58px;
    width:298px;
    border:1px white solid;
    background-color:cornflowerblue;
    border-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button_space{
    height:20px;
    width:300px;
}

pre{
  white-space:pre-wrap;
  word-wrap:break-word;
  overflow-x:auto;
  overflow-y:auto;
  padding:0px;
  margin:0px;
  height:100px;
  width:300px;
  background:#f5f5f5;
}